@charset "UTF-8";

//
// output.css
//


/*
==================================================
@:Lib - reset　リセットcssを読み込むだけ
==================================================
*/

@import "lib/reset";
@include reset-html5doctor;
// @include reset-normalize-css;


/*
==================================================
@:Lib - utility　各種ユーティリティmixinをincludeできるようにする
プロジェクトを横断して利用するような、スタイルを貯めていく
==================================================
*/
@import "lib/utility";


/*
==================================================
@:css3,layout for bourbon
==================================================
*/
@import "bourbon/bourbon";
@import "neat/neat";
@import "neat/neat-helpers";


/*
==================================================
@:Extend , プレースホルダーセレクター設置用ファイル
==================================================
*/
@import "parts/extend";


/*
==================================================
@:setting , 各種デフォルト設定ファイル
==================================================
*/
@import "parts/setting";


/*
==================================================
@:sprite images , spritesmith自動出力
==================================================
*/
@import "parts/sprite";


/*
==================================================
@:base , 基本となる装飾を定義 （aなど）
==================================================
*/
@import "parts/style-mixin/base";
@include base;


/*
==================================================
@:Layout , レイアウトに関するスタイルを定義
==================================================
*/
@import "parts/style-mixin/layout";

@include LyWrap;
@include LyHead;
@include LyFoot;
@include LyContents;



/*
--------------------------------------------------
@:GFT Module , フッターに関するスタイルを定義
--------------------------------------------------
*/
@import "parts/style-mixin/module-GFT";

@include MdGFT01Copy;
@include MdGFT02Util;


/*
--------------------------------------------------
@:GHD Module , ヘッダーに関するスタイルを定義
--------------------------------------------------
*/
@import "parts/style-mixin/module-GHD";

@include MdGHD01Logo;
@include MdGHD02Util;


/*
--------------------------------------------------
@:MN Moduleb , 各ページのスタイルを定義
共通で利用できそうなスタイルも定期
--------------------------------------------------
*/
@import "parts/style-mixin/module-MN";

//パターン１のモジュールを全て入れてある
@include MdTpl01;




/*
==================================================
@:module , リンクのhoverなど、モジュールにできそうなスタイルをまとめて定義
classの中でincludeして利用するmixin
==================================================
*/
@import "parts/style-mixin/module";

// ボタン
@include MdBtn01;

// タグライン
@include MdTagLine;





