<!DOCTYPE html>
<html dir="ltr" prefix="fb: http://www.facebook.com/2008/fbml">
<head>
<meta charset="UTF-8">
<title><%= metaTitle %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="企画指定のテキスト">
<meta name="keywords" content="企画指定のキーワード, キーワード">
<link rel="stylesheet" href="/css/project.min.css">
<% include _cmn_head_script %>