<footer>
<div class="LyFoot" role="contentinfo">
<p class="MdGFT01Copy"><small>©&nbsp;<b>イオンドットコム株式会社　コーポレートカルチャーチーム</b></small></p>
<!--/LyFoot--></div>
</footer>
<% include _cmn_foot_script %>
</body>
</html>
