<% include _cmn_head %>
<body class="topPage">
<div class="LyWrap">

<div class="LyHead">
    <div class="MdGHD01Logo">
        <p>イオンドットコム株式会社　社内向け販売情報</p>
    </div>
    <div class="MdGHD02Util">
        <p>このページは社内からのみ閲覧可能です</p>
<!--     <ul class="mdGHD02Ul">
        <li>
        <li>
        <li>
    </ul> -->
    </div>
</div>