<% var metaTitle = 'バレンタインデーの在庫処分セール'; %>
<% include inc/_LyHead %>

<div class="LyContents">

<div class="MdTpl01">
<h1>注文確認ページ</h1>
<p>ページに表示されている商品をオフィスへお届けいたします。</p>
<p>商品の購入個数に<b>数字を半角で入力</b>して、<b>注文を確認する</b>ボタンをクリックしてください。</p>

<h3>購入商品</h3>
<table>
<tr>
    <th width="30%">商品名</th>
    <th width="20%">社内販売価格</th>
    <th width="15%">購入個数を入力</th>
</tr>
<tr>
    <td>田崎真也ワインボンボン４個×2箱</td>
    <td><del>1037円</del><span class="salePrice">300円<span>（71%引き）<span></span></td>
    <td>100個</td>
</tr>
<tr>
    <td>田崎真也ワインボンボン４個×2箱</td>
    <td><del>1037円</del><span class="salePrice">300円<span>（71%引き）<span></span></td>
    <td>100個</td>
</tr>
<tr>
    <td>田崎真也ワインボンボン４個×2箱</td>
    <td><del>1037円</del><span class="salePrice">300円<span>（71%引き）<span></span></td>
    <td>100個</td>
</tr>
</table>

<h3>購入者・お届け先情報を入力</h3>
<table>
<tr>
    <td width="40%">お名前</td>
    <td>テスト太郎</td>
</tr>
<tr>
    <td>メールアドレス</td>
    <td>m-nakano@aeonlink.co.jp</td>
</tr>
<tr>
    <td>オフィスを選択（商品のお届け先・集金場所になります）</td>
    <td>渋谷オフィス</td>
</tr>
<tr>
    <td>合計金額</td>
    <td><b>2180</b>円</td>
</tr>
</table>

<div class="MdBtn01">
<a href="thanks.html"><span>注文を確定して依頼する</span></a>
<p>注文を確定するとボタンを押すと購入が確定となります。</p>
</div>



<!-- /MdTpl01 --></div>

<!-- /LyContents --></div>

<% include inc/_LyFoot %>