<% var metaTitle = 'イオンドットコム社員向け販売情報'; %>
<% include inc/_LyHead %>

<div class="MdTagLine"><marquee behavior="" scrollamount="12" truespeed><a href="sale01.html">バレンタインデーの在庫処分セール開催中です ((((；ﾟДﾟ))))</a></marquee></div>

<div class="LyContents">

<div class="MdTpl01">
<h1>イオンドットコム株式会社　社内向け販売情報</h1>
<p>在庫が余った商品について、社内特別価格で販売いたします。</p>

<h2>現在開催中のセール</h2>
<table>
    <tr>
        
        <th width="10%">販売開始日時</th>
        <th>saleのタイトル</th>
        <th width="20%">備考</th>
        <th width="10%">ショップ</th>
        <th width="10%">担当部署</th>
        
    </tr>
    <tr>
        
        <td>4月15日</td>
        <td><a href="sale01.html">バレンタインデーの在庫処分セール</a></td>
        <td>賞味期限が4/30なので爆安</td>
        <td>saQwa</td>
        <td>商品営業部</td>
    </tr>
</table>

<h2 id="how">販売方法</h2>
<ol>
    <li>Webフォームで注文</li>
    <li>各事務所に納品</li>
    <li>各事務所の販売担当者から購入（料金の支払い）</li>
</ol>
<h3>注意事項</h3>
<ul>
<li>Webフォームでの販売なので、同時のタイミングで購入した場合、先着の購入者がいる場合がございます。<br>
    購入のタイミングで、万が一在庫数が0になった場合は、申し訳ございませんが、後から購入された方へは、キャンセルのご連絡をさせて頂きます。</li>
<li>お客さまへ販売している商品ですので、価格や割引率について、社外への漏洩にはご注意ください。</li>
<li>必ず指定頂いた事務所にて、受け取りとお会計をお願い致します。</li>
<li>購入の取り消しはご遠慮ください。</li>
</ul>   


<!-- /MdTpl01 --></div>

<!-- /LyContents --></div>

<% include inc/_LyFoot %>