<% var metaTitle = 'バレンタインデーの在庫処分セール'; %>
<% include inc/_LyHead %>

<div class="LyContents">

<div class="MdTpl01">
<h1>バレンタインデーの在庫処分セール</h1>
<p>在庫が余った商品について、社内特別価格で販売いたします。<a target="_blank" href="index.html#how">販売方法</a></p>
<p>商品の購入個数に<b>数字を半角で入力</b>して、<b>注文を確認する</b>ボタンをクリックしてください。</p>

<table>
<tr>
    <th width="30%">商品名</th>
    <th width="20%">社内販売価格</th>
    <th width="10%">販売セット数</th>
    <th width="15%">購入個数を入力</th>
    <th>担当者コメント</th>
</tr>
<tr>
    <td><a href="#">田崎真也ワインボンボン４個×2箱</a></td>
    <td><del>1037円</del><span class="salePrice">300円<span>（71%引き）<span></span></td>
    <td>残数&nbsp;208個</td>
    <td><input>個<br><span class="saleCaution">残個数がありません</span></td>
    <td>すみません、売れると思ったんです！買って下さい。助けてください。</td>
</tr>
<tr>
    <td><a href="#">田崎真也ワインボンボン４個×2箱</a></td>
    <td><del>1037円</del><span class="salePrice">300円<span>（71%引き）<span></span></td>
    <td>残数&nbsp;208個</td>
    <td><input>個</td>
    <td>すみません、田崎真也さんでバズりませんでした！</td>
</tr>
<tr>
    <td><a href="#">田崎真也ワインボンボン４個×2箱</a></td>
    <td><del>1037円</del><span class="salePrice">300円<span>（71%引き）<span></span></td>
    <td>残数&nbsp;208個</td>
    <td><input>個</td>
    <td>すみません、売れると思ったんです！</td>
</tr>
</table>

<h3>購入者・お届け先情報を入力</h3>
<p>オフィスでのお届け、現金での集金となります。</p>
<table>
<tr>
    <td width="40%">お名前</td>
    <td><input></td>
</tr>
<tr>
    <td>メールアドレス</td>
    <td><input></td>
</tr>
<tr>
    <td>オフィスを選択（商品のお届け先・集金場所になります）</td>
    <td><select></select></td>
</tr>
</table>

<div class="MdBtn01">
<a href="confirm.html"><span>注文を確認する</span></a>
<p>注文を確認するボタンを押すと、購入商品の確認ページが表示されます</p>
</div>



<!-- /MdTpl01 --></div>

<!-- /LyContents --></div>

<% include inc/_LyFoot %>