<% var metaTitle = 'バレンタインデーの在庫処分セール'; %>
<% include inc/_LyHead %>

<div class="LyContents">

<div class="MdTpl01">
<div class="saleThanks">
<h2>ご購入ありがとうございます！</h2>
<p>順次、ご指定したオフィスにお届けいたします。<br>
各オフィスの商品販売担当者からアナウンスがありますので、<br>お会計と受け取りをお願いいたします。</p>
<p>購入ボタンは押したけど、うーん、こんな安いならアレも買えばよかったな。。<br>って思っていたりしませんか？<br>
購入はお一人様、何回でもできます。<a href="sale01.html">商品ページはこちら</a>です。</p>

<h2>アンケート</h2>

<p>今後、どういった商品を社内販売してほしいかお聞かせ下さい。<br>
<a href="#">社内販売リクエストのアンケートフォーム</a></p>



<!-- 

<p>今回のセールで、明らかに売れない商品がございます。<br>
    <a href="sale01.html">残商品数</a>を見たらすぐわかりますね。。</p>
<p>なんでこんなに在庫が余ったの？そう思う方もいるかもしれません。</p>
<p>もちろん理由があって商品を選定した結果です。</p>
<p>商品の仕入れは難しいです。</p>
<p>在庫が足りなくてもダメです。</p>
<p>在庫が余ってもダメです。</p>
<p>日々、お客さまの行動を予測して、価格、仕入れ数を調整しておりますが、<br>今回のような在庫が残る場合がございます。</p>

 -->

</div>



<!-- /MdTpl01 --></div>

<!-- /LyContents --></div>

<% include inc/_LyFoot %>